img{
    width:300px;
}
body{
text-align: center;
}
button{
    background-color: rgb(255, 146, 146);
    color:blue;
    box-shadow: 5px 5px 5px;
border-radius: 20px;
height:30px;
width: 150px;
margin:10px;
}
#reset{
     background-color: rgb(255, 235, 146);
    color:blue;
    box-shadow: 5px 5px 5px;
border-radius: 20px;
height:30px;
width: 150px;
margin:10px;
}