.sky{
    width: 100%;
    height: 30vh;
background: linear-gradient(rgb(63, 63, 254) ,#82c2ff);
}
.water{
    width: 100%;
    height: 50vh; 
    background: linear-gradient(rgb(14, 255, 211),rgb(0, 4, 84) );
}
.sand{
    width: 100%;
    height: 30vh;
    background: linear-gradient(rgb(249, 249, 101)), rgb(255, 255, 176);
}

#fish{
    width: 200px;
animation-name: move;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-delay: 1s;
}

@keyframes move{
    from{
        transform:translatex(1200px);
    }
    to{
        transform:translatex(-200px);
    }
}


