*{
    margin:0 auto;
}
body{
    text-align:center;
    background: #000;
    color:#fff;

}
header div{
    background:#fff;
    width:100%;
    color:#1B5E20;
    margin-top: 20px;
    margin-bottom: 20px;
}
main{
    margin-bottom:15px;
}

main div{
    width:95%;
    height:400px;
    border: groove 5px white;
    margin-bottom:5px;
}

div{
    margin-top:10px;
    width:90%;
}

.imgSlider{
    width:30%;
    height:150px;
    box-shadow:2px 2px 5px grey;
    border-radius:2px;
    margin: left 10px;
    cursor:pointer;
}

#imgMain{
    width:100%;
    height: 400px;
}

span{
    color: #00B8D4;

}