html {
  scroll-behaviour: smooth;
}
body {
  background-color: #80deea;
}
ul {
  width: 100%;
  background-color: #f8bbd0;
  text-align: right;
  position: sticky;
  z-index: 10;
  list-style: none;
  font-size: 22px;
  top: 0;
  margin: 0;
  padding: 5px;
}
li {
  display: inline;
  margin-right: 15px;
  padding: 2px;
}
a {
  text-decoration: none;
  color: #1a237e;
  font-weight: bold;
  font-family: "Boogaloo", sans-serif;
}
li a:hover {
  font-size: 25px;
  border-bottom: 3px solid #ff1744;
  cursor: pointer;
}
/*styling*/
.centered{
    position:absolute;
    top:50%;
    left:55%; 
    color:blue;
    transform:translate(-50%,-50%);

}
.banner{
    width:100%;
background:url("https://rp-cms.imgix.net/wp-content/uploads/AdobeStock_513646998-scaled.jpeg");
height:60vh;
background-size:cover;
margin-top: 4px;
}
.banner_inner{
    width:97%;
    height: 57vh;
border:5px solid white;
padding-left: 6px;
margin-left: 12px;
margin-top: 12px;
padding-top:12px;
}
#Italy{
  width:100%;
  height:80vh;
  text-align: center;
  background-color: #f8bbd0;
}
#Italy img{
  width:280px;
  height:200px;
}
#Italy p{
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
}

#China{
  width:100%;
  height:80vh;
  text-align: center;
  background-color: #f8f8bb;
}
#China img{
  width:280px;
  height:200px;
}
#China p{
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
}

#France{
  width:100%;
  height:80vh;
  text-align: center;
  background-color: #807efd;
}
#France img{
  width:280px;
  height:200px;
}
#France p{
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
}
#America{
  width:100%;
  height:80vh;
  text-align: center;
  background-color: #bbf8dc;
}
#America img{
  width:280px;
  height:200px;
}
#America p{
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
}
#quizz{
  width:100%;
  height:80vh;
  text-align: center;
  background-color: #bbf8dc;
}
#quizz img{
  width:280px;
  height:200px;
}

#dragon{
    width: 200px;
animation-name: move;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-delay: 1s;
}

@keyframes move{
    from{
        transform:translatex(1200px);
    }
    to{
        transform:translatex(-200px);
    }
}

#pizza{
    width: 200px;
animation-name: move;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-delay: 1s;
}
#dragon{
    width: 200px;
animation-name: move;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-delay: 1s;
}
#bread{
    width: 200px;
animation-name: move;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-delay: 1s;
}
#donut{
    width: 200px;
animation-name: move;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-delay: 1s;
}
